.header {
  margin: 0 auto;
  width: 1440px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(87, 84, 84);
  color: white;
}

.header-title {
  margin-left: 80px;
  font-size: 32px;
}

.header-current-currency {
  display: flex;
  flex-wrap: wrap;
  margin-right: 80px;
  font-size: 20px;
}


